<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/reg.css"/>
    <title>Registration</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Pixelify+Sans:wght@400..700&display=swap"
          rel="stylesheet">
    <script src="../static/js/checkbox.js"></script>
    <script src="../static/js/language.js"></script>
</head>
<body>
<div class="form">
    <div class="div">
        <div class="artwork">
            <div class="overlap-group">
                <img class="frame" src="https://c.animaapp.com/ruvuNiNv/img/frame-11.svg" alt="Image not found">
                <div class="text-wrapper chakra-petch-medium">RTeam cyber alley</div>
                <div class="text-wrapper-2 chakra-petch-light">@renderpunk</div>
            </div>
        </div>
    </div>
    <div class="overlap-wrapper">
        <div class="overlap">
            <div class="group">
                <div class="icon">
                    <img class="vector" src="https://c.animaapp.com/ruvuNiNv/img/vector.svg" alt="Logo not found">
                    <div class="r-team chakra-petch-bold">RTEAM</div>
                </div>
                <div class="form">
                    <div class="language-dropdown">
                        <button class="dropdown-toggle">
                            <img src="https://c.animaapp.com/ruvuNiNv/img/vector-1.svg" alt="Globe Icon">
                            <span class="chakra-petch-light">EN</span>
                            <img class="dropdown-arrow" src="https://c.animaapp.com/ruvuNiNv/img/container.svg"
                                 alt="Arrow">
                        </button>
                        <ul class="dropdown-menu chakra-petch-light">
                            <li data-lang="en">EN</li>
                            <li data-lang="ru">RU</li>
                            <li data-lang="kz">KZ</li>
                        </ul>
                    </div>
                </div>
                <div class="text-wrapper-8 chakra-petch-regular">Reach out, fucker</div>
                <p class="lorem-ipsum-dolor chakra-petch-light">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                </p>
                <div class="overlap-group-2">
                    <div class="cont">
                        <div class="field">
                            <label class="input chakra-petch-medium" for="first-name">First Name</label>
                            <input class="field-2 pixelify-sans-regular" id="first-name" placeholder="First name"
                                   type="text"/>
                        </div>
                        <div class="field">
                            <label class="input chakra-petch-medium" for="last-name">Last Name</label>
                            <input class="field-2 pixelify-sans-regular" id="last-name" placeholder="Last name"
                                   type="text"/>
                        </div>
                        <div class="field">
                            <label class="input chakra-petch-medium" for="username">Username</label>
                            <input class="field-2 pixelify-sans-regular" id="username" placeholder="Username"
                                   type="text"/>
                        </div>
                        <div class="field">
                            <label class="input chakra-petch-medium" for="email">Email</label>
                            <input class="field-2 pixelify-sans-regular" id="email" placeholder="Email" type="email"/>
                        </div>
                        <div class="field-3">
                            <label class="text-wrapper-3 chakra-petch-medium" for="profile-link">Public profile link
                                (optional)</label>
                            <input class="field-2 pixelify-sans-regular" id="profile-link"
                                   placeholder="Public profile link"
                                   type="text"/>
                        </div>
                        <div class="field-3">
                            <label class="text-wrapper-3 chakra-petch-medium" for="comments">Comments (optional)</label>
                            <textarea class="field-4 pixelify-sans-regular" id="comments"
                                      placeholder="Comments"></textarea>
                        </div>
                        <div class="field-5">
                            <div class="frame-2" onclick="toggleCheckbox(this)"></div>
                            <p class="you-agree-to-our">
                                <span class="span chakra-petch-regular">You agree to our</span>
                                <a href="#" class="text-wrapper-6 chakra-petch-regular">privacy policy</a>
                            </p>
                        </div>
                        <a ><button class="point"><span class="text-wrapper-7">Send application</span></button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
